.wrapper{
    background-color:var(--primary-blue-light);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 350px;
    max-width: 400px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.cardTitle{
    margin: 0;
}

.button{
    margin-right: 10px;
}

.big{
    width: 100%;
    max-width: 100%;
}