.wrapper{
    width: 50%;
}

.formItem{
    margin: 20px 0;
}

.input{
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #dbdbdb;
    width: 95%;
    /* background-color: var(--primary-blue-light); */
    border-radius: 4px;
    box-shadow: 10px 10px 20px #00000010;
}

.label{
    font-size: 1.3rem;
    font-weight: bold;
}

.optionsIinput{
    width: 90%;
}

.modelWrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    background-color: #00000020;
    z-index: 10000;
}

.modelWrapperInner{
    background-color: #ffffff;
    width: 90%;
    height: 90%;
    padding: 30px;
}

.modelClose{
    padding: 10px 30px;
    background-color: crimson;
    color: #fff;
    width: 100px;
    cursor: pointer;
}