.card{
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 10px 10px 30px #00000030;
    margin: 10px auto;
    position: relative;
}

.card .content{
    padding: 20px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.card .maulanaName{
    background-color: var(--light-green);
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    font-size: 23px;
    padding: 4px 10px;
    color: #ffffff;
}

.card .contentWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .maulana{
    margin-right: 20px;
    margin-bottom: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beforeFooter.maulana{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: var(--light-green);
    width: 100%;
}

.beforeFooter.maulana .maulanaName{
    background-color: transparent;
    margin-left: 30px;
    text-align: left;
    color:#ffffff
}


.card .maulana img{
    box-shadow: 10px 10px 30px 10px #00000030;
    border-radius: 100%;
}
.beforeFooter.maulana img{
    border-radius: 0;
}

.card.hajjUmrah .content{
    background-image: url("../../../public/cardBackgrounds/hajjumrahDesktop.png");
}

.card.iraq.sunni .content{
    background-image: url("../../../public/cardBackgrounds/iraqDesktop.png");
}

.card.iraq.shia .content{
    background-image: url("../../../public/cardBackgrounds/iraqZiyaratbg.png");
}

.card h2{
    font-weight: 700;
    font-size: 1.4rem;
}

.callToActionYellow{
    background-color: var(--light-yellow);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
    font-size: 1rem;
}

.beforeFooter{
    background-color: #ffe863;
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    /* color: #fff; */
    /* min-height: 95px; */
}
.beforeFooter.maulana{
    padding: 0;
}
.beforeFooterSection{
    width: 48%;
    padding: 0 10px;
}

.beforeHeaderSectionHeading{
    font-size: 1rem;
    font-weight: 500;
}

.beforeHeaderSectionContent{
    font-size: 0.9rem;
}


.footer{
    background-color: var(--dark-green);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footertext{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
}

.footerButton{
    background-color: #fff;
    border: 2px solid #fff;
    color: var(--dark-green);
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.footerButton:hover{
    background-color: var(--dark-green);
    color: #fff;
}

.quickEditBar{
    top: -50px;
    z-index: 20;
    background-color: var(--light-green);
    color: #fff;
    width: 100%;
    padding: 0 10px;
}

.vendorList , .iconBox{
    width: 50%;
}

.iconBox{
    justify-content: flex-end !important;
}

.icon{
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

